.media {
    margin: 15px;
    background-color: white;
    padding: 30px;
}

.media-inside {
    padding: 10px !important;
    border-width: thin;
    border-style: solid;
    border-color: #E8E7E7;
    margin: 20px;
}

.media-heading .time {
    margin-left: 10px;
    font-weight: bold;
}


/* katana layout */

.katana-layout-half {
    height: 50vh;
    overflow: hidden;
}

.katana-layout-content {
    height: 90vh;
    overflow-y: scroll;
}

.katana-layout-footer {
    height: 10vh;
    overflow: hidden;
}

.katana-full-height {
    height: 100%;
    min-height: 100%;
}

.katana-font {
    margin-left: 25px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.katana-image {
    height: 100%;
    width: 100%;
}

.card:first-of-type {
    margin-top: 0;
}

.katana-has-header {
    top: 0;
}

.slide-zoom {
    display: block;
    width: 100%;
    text-align: center;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 60px;
}

.logo img {
    max-height: 50%;
    max-width: 80%;
    margin: 20px 0;
}

p {
    padding: 0 16px;
    color: #666;
}
