<ion-view view-title="{{'speaker' | translate}}">
    <ion-content>
        <div class="list card" ng-repeat="speaker in speakers">
            <a class="item item-avatar item-icon-right" href="#/katana/conference/speaker/{{speaker.id}}">
                <img ng-src="{{speaker.profilePic}}">
                <h2>{{speaker.name}}</h2>
                <div>{{speaker.location}}</div>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-divider">
                {{'session' | translate}}
            </div>
            <a class="item item-icon-right" ng-repeat="session in speaker.sessions" ng-href="#/katana/conference/session/{{session.id}}">
                <p>{{session.content}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-body">
                <p>
                    {{speaker.about}}
                </p>
                <!--     <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p> -->
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <div class="tab-item active" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </div>
                <div class="tab-item active" href="#">
                    <i class="icon ion-ios-chatboxes-outline"></i> Comment
                </div>
                <div class="tab-item active" ng-click="shareSpeaker()">
                    <i class="icon ion-share"></i> {{'share' | translate}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
