<ion-view view-title="{{ 'speakerDetails' | translate }}">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" ng-src="images/hcp-03.jpg">
                <h1 class="text-center">Eric Robin</h1>
                <p>
                    Quickly add new functionality to your existing cloud and on-prem apps to optimize your existing investments
                </p>
            </div>
            <div class="item item-body">
                <h1 class="text-center">Seesions</h1>
                <article ng-repeat="session in [0,1,2,3]">
                    <h3>HCP Basic {{$index}}</h3>
                    <p>HCP Basic : introduce the hana cloud platform {{$index}}</p>
                </article>
            </div>
        </div>
    </ion-content>
</ion-view>
