<ion-view view-title="{{'about' | translate}}">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="images/hcp-02.png">
                <h1 class="text-center">SAP HANA CLOUD PLATFORM CONFERENCE</h1>
                <h2 class="text-center">
                    <i class="icon ion-calendar assertive"></i> 05/17/2016 - 05/19/2016
                    <i class="icon ion-location assertive"></i> Madison, WI
                </h2>

                <article>
                         SAP HANA is the Platform for Next-Generation Applications and Analytics Accelerate the 

                         pace of innovation with SAP HANA – an in-memory platform that runs analytics applications smarter, business processes faster, and data infrastructures simpler…SAP HANA is the 

                         foundation for all your data needs, removing the burden of maintaining separated legacy systems and siloed data, so you can run simple in this new digital economy. 
                </article>
            </div>
        </div>
    </ion-content>
</ion-view>
