<ion-tabs class="tabs-striped tabs-icon-top tabs-color-positive">
    <ion-tab title="{{'schedule' | translate}}" icon="ion-ios-calendar-outline" ui-sref="katana.conference.schedule">
        <ion-nav-view name="scheduleContent">
        </ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'speaker' | translate}}" icon="ion-ios-people-outline" ui-sref="katana.conference.speakers">
        <ion-nav-view name="speakersContent">
        </ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'about' | translate}}" icon="ion-ios-information-outline" ui-sref="katana.conference.about">
        <ion-nav-view name="aboutContent">
        </ion-nav-view>
    </ion-tab>
</ion-tabs>

<script id="theDialog.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">MSD感谢您的支持！</h1>
    </ion-header-bar>
    <ion-content>
      <p class="text-center">{{message}}</p>
    </ion-content>
  </ion-modal-view>
</script>