<ion-view view-title="{{'schedule' | translate}}">
    <ion-content>
        <div class="list">
            <div ng-repeat="schedule in schedules">
                <div class="item item-divider">
                    {{schedule.time}}
                </div>
                <a class="item item-icon-right" ng-href="#/katana/conference/session/{{session.id}}" ng-repeat="session in schedule.sessions">
                    <i class="icon ion-ios-arrow-right"></i>
                    <h2>{{session.name}}</h2>
                    <p>
                        {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
                    </p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
