<ion-view view-title="{{ 'sessionDetails' | translate }}">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">
                <h3 class="text-center">
                    <i class="icon ion-person assertive"></i> {{session.speakerNames.join(',')}}
                    <i class="icon ion-location assertive"></i> {{session.location}}
                </h3>
            </div>
            <div class="item item-body">
                <article>
                    <h2 class="text-center">{{session.name}}</h2>
                    <p>{{session.description}}</p>
                </article>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <div class="tab-item active">
                    <i class="icon ion-ios-help-outline"></i> Like
                </div>
                <div class="tab-item active">
                    <i class="icon ion-ios-chatboxes-outline"></i> Comment
                </div>
                <div class="tab-item active" ng-click="openModal()">
                    <i class="icon ion-ios-help-outline"></i> {{'question' | translate}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
