<ion-view>
    <ion-header-bar align-title="center" class="bar-default">
        <h1 class="title">{{'introduction' |  translate}}</h1>
        <div class="buttons">
            <a class="button icon-right ion-ios-fastforward button-clear button-positive" ng-click="startKatana()"></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box delegate-handle="image-viewer" on-slide-changed="slideChanged(index)" auto-play="true" does-continue="true">
            <ion-slide ng-repeat="slide in slides">
                <div class="text-center">
                    <h2>{{slide.title}}</h2>
                    <p>{{slide.content}}</p>
                    <img ng-src="{{slide.image}}" class="katana-imgage" />
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
