<ion-view view-title="{{'exam' | translate}}">
<ion-content>
<div class="list">
  <a class="item item-thumbnail-left" ng-repeat="exam in exams" href="#/katana/exam/1111">
    <img src="images/yeoman.png">
    <h2>{{exam.title}}</h2>
    <p>{{exam.content}}</p>
  </a>
</div>
</ion-content>
</ion-view>
