<ion-view view-title="{{ 'examDetails' | translate }}">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                喜欢的颜色有?
            </div>
            <ion-list>
                <ion-checkbox ng-model="filter.blue">Red</ion-checkbox>
                <ion-checkbox ng-model="filter.yellow">Yellow</ion-checkbox>
                <ion-checkbox ng-model="filter.pink">Pink</ion-checkbox>
            </ion-list>
            <div class="item item-divider">
                最喜欢的类型是？
            </div>
            <ion-list>
                <ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
                <ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
