<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Network Status</h1>
        <a class="button button-icon icon ion-ios-close-empty" ng-click="modal.hide()"></a>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                {{networkRejecttion.message}}
                <p>
                    So sorry to tell you that the service is unavailable due to some reasons, but you can click continue button on the footer to carry on your journey in katana conference application.
                </p>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-clear button-calm pull-right" ng-click="continue()">Continue <i class="icon ion-ios-arrow-right"></i></button>
    </div>
</ion-modal-view>
