<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">{{'notification' | translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-chatbubble-working"></i> Conference
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i> Friends 
                <span class="badge badge-assertive">0</span>
            </a>

        </div>
    </ion-content>
</ion-popover-view>
