<ion-view view-title="{{ 'account' | translate }}">
    <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="images/yeoman.png">
                <h2>{{userInformation.userName}}</h2>
                <div>微信号: {{userInformation.weChat}}</div>
            </a>
            <a class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i> 姓名
                <span class="item-note">
                  {{userInformation.accountName}}
                </span>
            </a>
            <a class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i> 微信号
                <span class="item-note">
                  {{userInformation.weChat}}
                </span>
            </a>
            <a class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i> 我的二维码
                <span class="item-note">
                  {{userInformation.weChat}}
                </span>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i> 性别
                <span class="item-note">
                  {{userInformation.sex}}
                </span>
            </a>
            <a class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i> 地区
                <span class="item-note">
                  {{userInformation.address}}
                </span>
            </a>
            <a class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i> 个性签名
                <span class="item-note item-text-wrap">
                {{userInformation.signature}}
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>
