<ion-view view-title="{{'settings' | translate}}">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                是否允许记录您的个人信息
            </div>
            <ion-toggle ng-repeat="item in settingsList" ng-model="item.checked" ng-checked="item.checked">
                {{ item.text }}
            </ion-toggle>
            <div class="item item-divider">
                地区
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    语言选择
                </div>
                <select ng-model="userInformation.preferLanguage" ng-change="swithLanguage()">
                    <option value="zh">简体中文</option>
                    <option value="en">Engilish</option>
                </select>
            </label>
            <div class="item item-divider">
                关于Smart Conference
            </div>
            <div class="item">
                License
            </div>
        </div>
    </ion-content>
</ion-view>
