<ion-view view-title="{{'signUp' | translate}}">
<ion-content>
<form name="accountForm">
    <div class="list">
        <label class="item item-input">
            <span class="input-label">{{'fullName' | translate}}</span>
            <input type="text" ng-model="account.name" required>
        </label>
        <label class="item item-input">
            <span class="input-label">{{'cellphone' | translate}}</span>
            <input type="tel" ng-model="account.phone" required>
        </label>
        <label class="item item-input">
            <span class="input-label">{{'email' | translate}}</span>
            <input type="email" ng-model="account.email" required>
        </label>
        <label class="item item-input">
            <span class="input-label">{{'password' | translate}}</span>
            <input type="password" ng-model="account.password" required>
        </label>
        <label class="item item-input">
            <span class="input-label">{{'confirmPassword' | translate}}</span>
            <input type="password" ng-model="account.confirmPassword" required>
        </label>
    </div>
    <button class="button button-block button-positive" ng-click="signUp()">{{ 'signUp' | translate }}</button>
</form>
</ion-content>
</ion-view>